body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: .5px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}


.overlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
    position: absolute;
    width: 100%;
    top: 0px;
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: transparent;
    border: transparent;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-nav>li>a {
    text-transform: uppercase;
    line-height: 42px;
    -webkit-transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 13.5px;
}

.navbar-brand {
    padding: 17px 15px;
}

.navbar-brand img {
    width: 200px;
}

.shrink-nav {
    color: #000 !important;
    top: 0px;
    background-color: #fff;
    position: fixed;
}

.shrink-nav .navbar-nav>li>a {
    color: #000 !important;
    line-height: 24px;
}

@media (max-width: 767px) {
    .navbar-nav>li>a {
        line-height: 20px;
    }

    .navbar-brand {
        padding: 7px 15px;
    }

    .navbar-brand img {
        width: 144px;
    }
}

/*
less
--------------


body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	letter-spacing: .5px;
}
h1{
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}
header {
  position: relative;
  background-size: cover;
  background-color: #7d6060;
  background-position: center;
  padding-top: 300px;
  padding-bottom: 300px;
}
.overlay {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.navbar{
	position: absolute;
	width: 100%;
  top: 0px;
  margin-bottom: 0px;
  border-radius: 0px;
  background-color: transparent;
  border:transparent;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}
.navbar-nav > li > a {
  text-transform: uppercase;
  line-height: 42px;
  -webkit-transition: all ease-in-out .4s;
  -moz-transition: all ease-in-out .4s;
  -o-transition: all ease-in-out .4s;
  transition: all ease-in-out .4s;
}
.navbar-default .navbar-nav > li > a{
  color: #fff;
  font-size: 13.5px;
}
.navbar-brand{
	padding: 10px 15px;
		img{
			 width: 200px;
		}
}

.shrink-nav{
	color: #000 !important;
	top: 0px;
	background-color: #fff;
	position: fixed;
	.navbar-nav > li > a {
 	color: #000 !important;
  line-height: 24px;
	}
}


@media(max-width:767px){
	.navbar-nav > li > a {
  line-height: 20px;
	}
	.navbar-brand{
		padding: 7px 15px;
		img{
			 width: 144px;
		}
	}
}





*/