/* Navbar */
.navbar-default {
    color: #FAFAFA;
    /* background-color: rgba(207, 216, 220, 0.6);
    border-color: rgba(207, 216, 220, 0.6); */
    background-color: transparent;
    border: none;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 35px 12px;
    text-transform: uppercase;
    font-size: 14px;
    color: #FAFAFA !important;
    font-weight: bolder;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.nav>li>a.shrink {
    padding: 15px 12px;
}

nav.navbar.shrink {
    height: 30px;
}

.navbar-toggle {
    border-radius: 400px;
    height: 40px;
    width: 40px;
    padding: 10px 8px;
    margin-top: 32px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.shrink .navbar-toggle {
    margin-top: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo {
    height: 90px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.logo.shrink {
    height: 50px;
}

.hvrcenter {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvrcenter:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #ECF0F1;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvrcenter:hover:before,
.hvrcenter:focus:before,
.hvrcenter:active:before {
    left: 0;
    right: 0;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Text styles */
    text-align: center;

    /* Postion */
    position: absolute;
    top: 0;
}