@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

input {
    font-size: 16px !important;
}

/* User Side Bar Photo */
.us-photo {
    margin-top: 6em;
    height: 12em;
}

.us-landscape {
    position: relative;
    z-index: 1;
    height: 24em;
}

.us-landscape:after {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 100%;
    height: 24em;
    left: 0;
    top: 0;
    z-index: -5;
    content: '';
}

.us-username {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    /* margin-top: 2em;
    margin-bottom: 2em; */
}

.us-since {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.us-stat {
    color: rgba(0, 0, 0, 0.6);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    border-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
}

.us-stat-icon {
    padding: 0;
}

.us-btn {
    font-size: 1.5em;
}

.circle {
    border-radius: 50rem;
}

.product-img {
    min-height: 300px;
}

.product-img img {
    height: 400px !important;
    object-fit: cover !important;
}

.badge {
    color: white !important;
}

.badge-pink {
    background-color: #EC407A;
}

.badge-blue {
    background-color: #29B6F6;
}

.essence-btn {
    background-color: #29B6F6 !important;
}

.essence-btn:hover {
    background-color: #EC407A !important;
}

.right-side-cart-area {
    width: 400px !important;
}

.single-blog-area {
    max-height: 300px;
}

.nice-select ul {
    max-height: 300px !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}

.owl-nav {
    color: white;
}

.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    object-fit: cover;
    width: auto;
    height: 930px;
}

.floatbtn {
    background-color: #ff084e;
    border-radius: 0;
    bottom: 60px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 24px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: 105px;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .floatbtn {
        bottom: 30px;
        right: 75px;
    }
}

.order-details-form li:last-child {
    border: none !important;
}

.order-details-form span {
    margin-bottom: 0px !important;
}

.success {
    color: #66BB6A;
}

.warning {
    color: #FFCA28;
}

.modal-footer button {
    padding: 0.375rem 2.75rem;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
/* .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.3);
} */

/* When you mouse over the container, fade in the overlay icon*/
/* .container:hover .overlay {
    opacity: 1;
} */