@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');

.user-sidebar {}


/* User Side Bar Photo */
.us-photo {
    margin-top: 6em;
    height: 12em;
}

.us-landscape {
    position: relative;
    z-index: 1;
    height: 24em;
}

.us-landscape:after {
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    width: 100%;
    height: 24em;
    left: 0;
    top: 0;
    z-index: -5;
    content: '';
}

.us-username {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    /* margin-top: 2em;
    margin-bottom: 2em; */
}

.us-since {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    text-align: center;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
}

.us-stat {
    border-style: solid;
    border-width: 1em;
    border-color: white;
}

.circle {
    border-radius: 50rem;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.3);
}

/* When you mouse over the container, fade in the overlay icon*/
.container:hover .overlay {
    opacity: 1;
}