html,
body {
    font-family: 'Montserrat', 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    color: #444;
    background-size: cover;
    /* background-image: linear-gradient(141deg, #F06292 0%, #CE93D8 51%, #BA68C8 75%); */
}

.bg-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap>.container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #fafafa;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li>form>button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li>form>button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav>li>form>button.logout:focus,
.nav>li>form>button.logout:hover {
    text-decoration: none;
}

.nav>li>form>button.logout:focus {
    outline: none;
}

/* Signup Menu */
.menu-panel {
    margin-top: 20px;
    padding: 0;
    border-radius: 20px;
    background-color: rgba(238, 238, 238, 0.9);
}

.mp-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    padding: 10%;
    color: rgba(238, 238, 238, 1);
}

.mp-header>h1,
.mp-header>h2,
.mp-header>h3 {
    font-family: 'Montserrat', sans-serif;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-weight: 700 !important;
}

.mp-header>i {
    font-size: 150px;
}

.mp-body {
    padding: 10%;
}

.mp-body>a,
.mp-body>button {
    margin-top: 15%;
}

.mp-body>h1,
.mp-body>h2,
.mp-body>h3 {
    text-align: center;
}

.mp-footer {
    padding: 20px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mp-error {
    margin: 20px 0 0 0;
    padding: 20px;
    border: none;
    color: #FAFAFA;
    background-color: transparent;
}

.mp-error>ul>li {
    margin: 5px 0;
}

.btn-flat {
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 200px;
    border: none;
}

.btn {
    font-weight: bold;
    letter-spacing: 3px;
}

.btn-purple {
    background-color: rgba(186, 104, 200, 1);
    border: 1px solid rgba(186, 104, 200, 1);
    color: rgba(238, 238, 238, 1);
}

.btn-purple:hover {
    background-color: transparent;
    color: rgba(186, 104, 200, 1);
}

.btn-blue {
    background-color: rgba(66, 165, 245, 1);
    border: 1px solid rgba(66, 165, 245, 1);
    color: rgba(238, 238, 238, 1);
}

.btn-blue:hover {
    background-color: transparent;
    color: rgba(66, 165, 245, 1);
}

.btn-orange {
    background-color: rgba(255, 167, 38, 1);
    border: 1px solid rgba(255, 167, 38, 1);
    color: rgba(238, 238, 238, 1);
}

.btn-orange:hover {
    background-color: transparent;
    color: rgba(255, 167, 38, 1);
}

.form-group {
    margin-bottom: 20px;
}

.input-flat {
    border-radius: 500px;
    border-color: rgba(3, 169, 244, 1);
    color: rgba(3, 169, 244, 1);
    font-weight: 600;
    background-color: transparent;
    padding: 0px 25px !important;
    height: 45px;
    font-size: 18px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important;
    background-image: none !important;
    color: inherit !important;
}

.input-flat::placeholder {
    color: rgba(3, 169, 244, 0.6);
    font-weight: 600;
    opacity: 1;
}

.has-success .input-flat {
    color: #43A047;
}

.has-success .input-flat::placeholder {
    color: #43A047;
}

.has-error .input-flat::placeholder {
    color: rgba(239, 83, 80, 0.6);
}

/* Select2 Kartick */
.select2-container--krajee .select2-selection--single {
    height: 45px;
    line-height: 2.428571;
    padding: 0px 25px !important;

    background-color: transparent;
    color: rgba(3, 169, 244, 1);
    font-weight: 600;
    font-size: 18px;

    border-color: rgba(3, 169, 244, 1);
    border-radius: 200px;
}

.select2-selection__placeholder {
    color: rgba(3, 169, 244, 0.6) !important;
}

.has-error .select2-selection__placeholder {
    color: rgba(239, 83, 80, 0.6) !important;
}

.has-success .select2-selection__placeholder {
    border-color: rgba(67, 160, 71, 0.6) !important;
}

.select2-selection__rendered,
.select2-selection__clear {
    color: rgba(3, 169, 244, 1) !important;
}

.has-success .select2-selection__rendered,
.has-success .select2-selection__clear {
    color: #43A047 !important;
}

.has-error .select2-selection__rendered,
.has-error .select2-selection__clear {
    color: #ef5350 !important;
}

.select2-selection__arrow {
    border: none !important;
    position: absolute !important;
    height: 45px !important;
    top: 1px !important;
    right: 1px !important;
    width: 45px !important;
}

.select2-selection__arrow b {
    color: rgba(3, 169, 244, 1) !important;
    border-color: rgba(3, 169, 244, 1) transparent transparent transparent !important;
    top: 45% !important;
}

.has-success .select2-selection__arrow b {
    color: #43A047 !important;
    border-color: #4CAF50 transparent transparent transparent !important;
}

.has-error .select2-selection__arrow b {
    color: #ef5350 !important;
    border-color: #ef5350 transparent transparent transparent !important;
}

.select2-container--open .select2-selection {
    background-color: rgba(238, 238, 238, 1);
}

.select2-container--open.select2-container--above .select2-selection {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-top-color: transparent;
}

.select2-container--open.select2-container--below .select2-selection {
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-color: transparent;

}

.has-success .select2-container--open .select2-selection,
.has-success .select2-container--krajee.select2-container--focus .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #43A047;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #43A047;
    border-color: #43A047;
}

.has-error .select2-container--open .select2-selection,
.has-error .select2-container--krajee.select2-container--focus .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 6px #ef5350;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
        0 0 6px #ef5350;
    border-color: #ef5350;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}

.select2-container--open .select2-dropdown--above {
    border-bottom: none;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
}

.select2-dropdown {
    box-shadow: none !important;
    background-color: rgba(238, 238, 238, 1);
}

.select2-search--dropdown {
    padding: 10px;
}

.select2-search__field {
    padding: 4px 15px !important;
    border-radius: 200px !important;
}

.select2-results__option {
    background-color: transparent !important;
}

.select2-results__group {
    border: none !important;
    text-shadow: none !important;
    color: rgba(66, 66, 66, 0.6) !important;
    font-weight: bolder !important;
    font-size: 18px;
    /* background-color: rgba(238, 238, 238, 0.9) !important;*/
    background-color: transparent !important;
}

.select2-results__options--nested .select2-results__option {
    margin-left: 10px;
    color: rgba(66, 66, 66, 0.6) !important;
}

.select2-results__options--nested .select2-results__option:hover {
    margin-left: 10px;
    background-color: rgba(66, 66, 66, 0.2) !important;
}




.select2-container--krajee .select2-selection--single .select2-selection__clear {
    right: 2.2em;
}

.select2-container--krajee .select2-selection__clear {
    color: #000;
    top: -3px;
}

.select2-results__options::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: none;
    background-color: rgba(3, 169, 244, 1);
}

.select2-results__options::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    border-radius: 10px;
    background-color: transparent;
    margin-bottom: 20px;
}


.form-control-feedback {
    font-size: 18px;
    line-height: 45px;
    width: 45px !important;
    height: 45px !important;
}

.has-error .form-control {
    border-color: #ef5350;
}

.has-success .form-control {
    border-color: #4CAF50;
}

.form-control-feedback {
    color: rgba(3, 169, 244, 1);
}

.has-success .form-control-feedback {
    color: #4CAF50;
}

.has-error .form-control-feedback {
    color: #ef5350;
}

.form-control:focus {
    border: solid 2px;
    border-color: rgba(3, 169, 244, 1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #03A9F4;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #03A9F4;
}

.has-error .form-control:focus {
    border-color: rgba(244, 67, 54, 1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #f44336;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #f44336;
}

.has-success .form-control:focus {
    border-color: rgba(76, 175, 80, 1);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #4CAF50;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 10px #4CAF50;
}

/* Footer */
footer {
    min-height: 400px;
    bottom: 0;
    margin-bottom: 0;
    background-color: rgba(38, 50, 56, 1);
    color: rgba(250, 250, 250, 0.6);
}

.footer-panel {
    height: 100%;
    margin: 50px 0px;
}

.footer-panel h1,
.footer-panel h2,
.footer-panel h3,
.footer-panel h4 {
    margin-bottom: 30px;

}

.fp-title {
    font-weight: bolder;
}

.footer-panel>ul {
    padding-left: 10px;
    list-style: none;
}

.footer-panel>ul>li {
    margin: 10px 0;
}

.footer-panel>ul>li>.fa {
    margin-right: 8px;
}

.footer-panel>ul>li>small {
    font-size: 12px;
}


/* Material Checkbox*/
.pure-material-checkbox {
    z-index: 0;
    position: relative;
    display: inline-block;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
    padding-left: 0 !important;
}

/* input */
.pure-material-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: 10;
    position: absolute;
    margin-left: 0 !important;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* span */
.pure-material-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.pure-material-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;
    /* Safari */
    border-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.pure-material-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 3px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.pure-material-checkbox>input:checked,
.pure-material-checkbox>input:indeterminate {
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked+span::before,
.pure-material-checkbox>input:indeterminate+span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
    background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked+span::after,
.pure-material-checkbox>input:indeterminate+span::after {
    border-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
}

.pure-material-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.pure-material-checkbox:hover>input {
    opacity: 0.04;
}

.pure-material-checkbox>input:focus {
    opacity: 0.12;
}

.pure-material-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.pure-material-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.pure-material-checkbox>input:active+span::before {
    border-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243));
}

.pure-material-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
}

/* Disabled */
.pure-material-checkbox>input:disabled {
    opacity: 0;
}

.pure-material-checkbox>input:disabled+span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    cursor: initial;
}

.pure-material-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.pure-material-checkbox>input:checked:disabled+span::before,
.pure-material-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}